@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Gluten:wght@100..900&display=swap");
.main {
  display: flex;
  flex-direction: column;
  & > .header {
    margin-left: 20pt;
  }
  & > .requests {
    display: flex;
    flex-direction: column;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
    & > .request {
      padding-top: 7pt;
      padding-bottom: 7pt;
    }
  }
  & > .bottom {
    margin-left: 20pt;
    display: flex;
    flex-direction: row;

    & > .contacts {
      margin-right: 20pt;
      display: flex;
      flex-direction: column;
      width: 60%;
      & > .contactsList {
        border: 2px solid var(--background-dark);
        background-color: var(--background-medium);
        border-radius: 6px;
        padding: 3pt;
        padding-left: 5pt;
        padding-right: 10pt;
        margin-top: 7pt;
        & > .contact {
          padding-top: 5pt;
          padding-bottom: 5pt;
        }
      }
    }
    & > .pendings {
      margin-left: 20pt;
      margin-right: 20pt;
      display: flex;
      flex-direction: column;
      width: 30%;
      & > .pendingList {
        border: 2px solid var(--background-dark);
        background-color: var(--background-medium);
        padding: 3pt;
        padding-left: 10pt;
        padding-right: 5pt;
        padding-bottom: 10pt;
        border-radius: 6px;
        margin-top: 7pt;
        & > .pend {
          padding-top: 5pt;
          padding-top: 5pt;
        }
      }
    }
  }
}
.mainlog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & > .login {
    margin-top: 100pt;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
}

.prompt {
  padding-left: 20pt;
  margin-top: 10pt;
  font-size: 20pt;
  font-family: "Gluten", sans-serif;
}
