@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Gluten:wght@100..900&display=swap");
.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  & > .header {
    margin-left: 20pt;
  }
  & > .requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
    & > .request {
      padding-top: 7pt;
      padding-bottom: 7pt;
    }
  }
  & > .info {
    font-size: 15pt;
  }
  & > .bottom {
    margin-left: 20pt;
    display: flex;
    flex-direction: row;
    & > .info {
      font-size: 17pt;
      text-align: center;
    }
    & > .contacts {
      margin-right: 20pt;
      display: flex;
      flex-direction: column;
      width: 60%;
      & > .contactsList {
        border: 10px solid var(--background-light);
        background-color: var(--background-medium);
        border-radius: 6px;
        padding: 10px;
        margin-top: 7pt;
        & > .contact {
          padding: 5pt;
        }
        & > .info {
          text-align: center;
          padding: 5pt;
          font-size: 15pt;
        }
      }
    }
    & > .pendings {
      margin-left: 20pt;
      margin-right: 20pt;
      display: flex;
      flex-direction: column;
      width: 30%;
      & > .pendingList {
        display: flex;
        flex-direction: column;
        border: 10px solid var(--background-light);
        background-color: var(--background-medium);
        padding: 10px;
        border-radius: 6px;
        margin-top: 7pt;
        row-gap: 10px;
        & > .pend {
          // padding-top: 10px;
        }
        & > .info {
          text-align: center;
          padding: 5px;
          font-size: 13pt;
        }
      }
    }
  }
}
.mainlog {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & > .login {
    margin-top: 100pt;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
}

.mainMobile {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  & > .header {
    margin-top: 10pt;
    text-align: center;
  }

  & > .requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 10px;
    margin-bottom: 10px;
    & > .info {
      font-size: 17pt;
      text-align: center;
    }
    & > .request {
      padding-top: 7pt;
      padding-bottom: 7pt;
    }
  }

  & > .bottom {
    margin-left: 5pt;
    display: flex;
    flex-direction: column;

    & > .contacts {
      margin-left: 5pt;
      margin-right: 5pt;
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-left: 10pt;

      & > .contactsList {
        border: 10px solid var(--background-light);
        background-color: var(--background-medium);
        border-radius: 6px;
        padding: 10px;
        & > .contact {
          padding-top: 5pt;
          padding-bottom: 5pt;
        }
        & > .info {
          text-align: center;
          padding: 5pt;
          font-size: 15pt;
        }
      }
    }
    & > .pendings {
      margin-left: 5pt;
      margin-right: 1pt;
      display: flex;
      flex-direction: column;
      width: 60%;
      margin-left: 10pt;

      & > .pendingList {
        display: flex;
        flex-direction: column;
        border: 10px solid var(--background-light);
        background-color: var(--background-medium);
        padding: 10px;
        border-radius: 6px;
        margin-top: 7pt;
        row-gap: 10px;
        & > .info {
          text-align: center;
          padding: 5pt;
          font-size: 13pt;
        }
        & > .pend {
          // padding-top: 5pt;
          // padding-top: 5pt;
        }
      }
    }
  }
}

.prompt {
  // padding-left: 20pt;
  margin-top: 10pt;
  font-size: 20pt;
  font-family: "Gluten", sans-serif;
}

.promptBottom {
  padding-left: 10pt;
  margin-top: 10pt;
  font-size: 20pt;
  font-family: "Gluten", sans-serif;
}
