.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    padding: 0 20px;
    width: 100%;
    max-width: 1400px;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      & > h1 {
        color: var(--text);
        font-size: 30pt;
        text-align: center;
      }

      & > span {
        color: var(--primary);
      }
    }

    & > a {
      font-size: 30pt;
      color: var(--primary);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;

    .info {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 40px;
      max-width: 100%;

      .column {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .mapContainer {
          width: 400px;
          aspect-ratio: 1;
          border-radius: 8px;
          overflow: hidden;
        }

        .rating {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          font-size: 18pt;
        }

        .data {
          display: flex;
          flex-direction: column;

          & > h2 {
            margin-bottom: 3px;
            margin-top: 10px;
          }
        }

        .hours {
          & > h2 {
            margin-bottom: 10px;
            text-align: center;
          }

          & > ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;

            & > li {
              .openHours {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                & > p {
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: "1100px") {
  .container {
    .header {
      max-width: 800px;
    }

    .content {
      .info {
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(100px, auto);
        padding: 0 20px;

        .column:nth-child(1) {
          grid-column: 1 / 3;
          grid-row: 2;

          .mapContainer {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: "700px") {
  .container {
    gap: 10px;

    .header {
      & > div {
        width: 100%;
      }
    }

    .content {
      .info {
        grid-template-columns: repeat(1, auto);
        grid-auto-rows: minmax(100px, auto);
        padding: 0 20px;
        gap: 10px;

        .column:nth-child(1) {
          grid-column: unset;
          grid-row: 3;
        }

        .column:nth-child(2) {
          .rating {
            width: 100%;
            justify-content: center;
          }
        }

        .column:nth-child(3) {
          .hours {
            & > h2 {
              text-align: left;
            }

            width: 250px;
          }
        }
      }
    }
  }
}
