.container {
  width: 100%;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    padding: 40px;
    background-color: var(--background-light);
    border-radius: 10px;
    gap: 40px;
    width: 600px;

    .hole {
      width: 100%;
      background-color: var(--background);
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .providers {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: "768px") {
  .container {
    .card {
      width: 580px;
    }
  }
}

@media (max-width: "600px") {
  .container {
    padding-top: 75px;

    .card {
      gap: 20px;
      width: 100%;
      padding: 40px 0;
      background: var(--background-light);
      margin-bottom: 100px;
      border-radius: 0;

      h1 {
        color: var(--primary);
      }

      .hole {
        background: none;
      }
    }
  }
}
