.container {
  & > button {
    --bg-color: var(--primary);
    --fg-color: var(--text);
    appearance: none;
    color: var(--fg-color);
    font-size: 24pt;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s;
    box-sizing: border-box;
    user-select: none;
    outline: none;

    &.small {
      font-size: 12pt;
      padding: 12px 15px;
    }
    &.normal {
      font-size: 18pt;
      padding: 15px 20px;
    }
    &.large {
      font-size: 24pt;
      padding: 18px 25px;
    }

    &.primary {
      --bg-color: var(--primary);
      --fg-color: var(--text);
    }
    &.secondary {
      --bg-color: var(--secondary);
      --fg-color: var(--text);
    }
    &.text {
      --bg-color: var(--text);
      --fg-color: var(--text);
    }

    &.solid {
      background-color: var(--bg-color);
      &:disabled {
        --fg-color: var(--background);
      }
      &.text {
        --fg-color: var(--background);
      }
    }
    &.outline {
      border: 3px solid var(--bg-color);
      &.small {
        padding: 9px 12px;
      }
      &.normal {
        padding: 12px 17px;
      }
      &.large {
        padding: 15px 22px;
      }
      &:disabled {
        --fg-color: var(--disabled);
      }
    }
    &.backdrop {
      background-color: #0002;
      backdrop-filter: blur(5px);
      color: var(--bg-color);
      &:disabled {
        --fg-color: var(--disabled);
      }
    }

    &:hover,
    &:focus {
      cursor: pointer;
      transform: scale(0.95);
    }

    &:disabled {
      --bg-color: var(--disabled);
    }
  }
}
