.container {
  width: 100vw;
  --height: 300px;
  padding-top: 125px;
  height: var(--height);
  position: relative;
  display: flex;
  justify-content: center;
  user-select: none;
  margin-bottom: 300px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    h1 {
      font-family: "Gluten";
      font-size: 100pt;
      text-shadow: 10px 10px #0005;
    }
  }

  .background {
    width: 100vw;
    min-width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;

    & > div {
      width: 100%;
      height: var(--height);
      background-color: var(--primary);
    }
  }
}

@media (max-width: "1000px") {
  .container {
    .content {
      h1 {
        font-size: 75pt;
        text-shadow: 7.5px 7.5px #0005;
      }
    }
  }
}
@media (max-width: "700px") {
  .container {
    .content {
      h1 {
        font-size: 50pt;
        text-shadow: 5px 5px #0005;
      }
    }
  }
}
@media (max-width: "500px") {
  .container {
    .content {
      h1 {
        font-size: 40pt;
        text-shadow: 4px 4px #0005;
      }
    }
  }
}
