
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 100px;

  & > h1 {
    font-family: "Gluten";
    color: var(--primary-light);
    font-size: 36pt;
    margin-bottom: 100px;
    text-transform: uppercase;
  }
}

.matrix {
  width: 80%;
  height: 50%;
  margin: 20px;
  // border-collapse: collapse;
  min-height: 200px;

    & > em {
    font-family: "Gluten";
    color: var(--background-light);
    font-size: 36pt;
    margin-bottom: 100px;
    text-transform: uppercase;
  };
  };


.matrix td {
  width: 60%;
  height: 40%;
  padding :10px;
  text-align: center;
  & > div {
    font-family: "Chivo";
    color: var(--text);
    font-size: 20pt;
    margin-bottom: 100px;
    text-transform: uppercase;
  };
}



// .component {
//   width: 50%;
//   padding :10px;
//   text-align: center;
//   & > em {
//     font-family: "Gluten";
//     color: var(--text);
//     font-size: 36pt;
//     margin-bottom: 100px;
//     text-transform: uppercase;
//   }
// }
