.container {
  padding-top: 2pt;
  padding-bottom: 4pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  --bg-local: rgba(61, 41, 53, 0.7);
  border: 1px solid var(--primary-background-fade-1);
  border-radius: 8px;
  background-color: var(--bg-local);
  width: 100%;
  height: 100%;
  min-height: 60px;
  & > .medias {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 20pt;
  }
  & > .left {
    display: flex;
    flex-direction: row;
    padding-left: 10pt;
    width: 20%;
    & > .namebox {
      display: flex;
      align-items: center;
      & > .name {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5pt;
        padding-left: 10pt;
        font-size: 15pt;
        color: var(--text);
        height: calc(10%);
      }
    }
    & > .photoBox {
      margin-top: 3px;
      margin-bottom: 3px;
      width: 20%;
      max-width: 100px;
      overflow: hidden;
      min-width: 30px;
    }
  }
  & > .right {
    font-size: 25pt;
    margin-right: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    & > .delete {
      margin-right: 20pt;
    }
  }
}
