.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--background-light);
  gap: 10px;

  .name {
    font-size: 16pt;
    margin-bottom: 7px;
    position: absolute;
    top: -15px;
    left: 5px;
    padding: 0 10px;
    background-color: var(--background);
    font-weight: bold;
    display: -webkit-box;
    max-width: calc(100% - 15px);
    --lines-number: 1;
    line-break: anywhere;
    line-clamp: var(--lines-number);
    -webkit-line-clamp: var(--lines-number);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
  }

  .description {
    font-size: 10pt;
    width: 100%;
    color: var(--text-dark);
    display: -webkit-box;
    --lines-number: 2;
    line-clamp: var(--lines-number);
    -webkit-line-clamp: var(--lines-number);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    min-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    background-color: var(--secondary);
    border-radius: 8px;
    font-size: 14pt;
  }
}
