.container {
  padding: 4px 10px;
  flex-grow: 0;

  &.solid {
    background-color: var(--secondary);
    border: 3px solid var(--secondary-dark);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }
  &.backdrop {
    border: 3px solid var(--secondary-dark);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .cancelIcon {
    margin-left: 15px;
    cursor: pointer;
  }
}
