.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  --bg-local: rgba(61, 41, 53, 0.702);
  border: 1px solid var(--primary-background-fade-1);
  border-radius: 8px;
  background-color: var(--bg-local);
  min-width: 300px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & > .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10pt;
    & > .namebox {
      & > .name {
        color: var(--text);
        font-size: 15pt;
        display: -webkit-box;
        --lines-number: 1;
        line-break: anywhere;
        line-clamp: var(--lines-number);
        -webkit-line-clamp: var(--lines-number);
        -webkit-box-orient: vertical;
        font-size: 15pt;
        color: var(--text);
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    & > .photoBox {
      height: 50%;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1;
      min-width: 35px;
      max-height: 50px;
    }
  }
  & > .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30pt;
    & > .yes {
      font-size: 30pt;
      color: var(--secondary-light);
      margin-right: 10px;
      &:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: scale(1.1); /* Hover effect to lift the card */
      }
    }
    & > .no {
      font-size: 30pt;
      color: var(--primary);
      &:hover {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        transform: scale(1.1); /* Hover effect to lift the card */
      }
    }
  }
}
