.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  --bg-local: rgba(61, 41, 53, 0.7);
  background-color: var(--bg-local);
  border: 2px solid var(--primary-dark);
  border-radius: 8px;
  color: var(--text);
  min-width: 150px;
  width: 60%;
  min-height: 500px;
  height: 115px;

  & > .details {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    overflow: hidden;
  }
  & > .photoBox {
    height: 200px;
    width: 150px;
    & > .photo {
      width: 100%;
      aspect-ratio: 1 / 1;
      border: 5px solid var(--background-dark);
      border-radius: 50%;
    }
  }
}
