.container {
  position: relative;
  display: flex;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid var(--primary);
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  width: 100%;
  gap: 15px;

  &.hidden {
    color: var(--disabled);
  }

  .spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .stack {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
      &:nth-child(2) {
        align-items: flex-end;
      }

      .title {
        font-size: 18pt;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-thickness: 0.1em;
        }
      }
      .date {
        font-size: 14pt;
        text-align: right;

        .updated {
          color: var(--disabled);
          font-size: 12pt;
        }
      }
      .user {
        font-size: 14pt;
        text-align: right;

        &.highlighted {
          color: var(--primary);
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-thickness: 0.1em;
        }
      }
      .amountSpent {
        background-color: var(--secondary-light);
        align-content: left;
        text-align: center;
        padding: 3px 7px;
        border-radius: 6px;
        font-size: 12pt;
      }
    }
  }

  .content {
    width: 100%;

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }

  .images {
    display: flex;
    gap: 10px;

    & > div {
      border-radius: 5px;
      overflow: hidden;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .expander {
      width: 100%;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }

    i {
      font-size: 16pt;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      aspect-ratio: 1;
      color: var(--text);
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(1.1) rotate(5deg);

        &.negative {
          color: var(--negative);
        }
        &.positive {
          color: var(--positive);
        }
        &.edit {
          color: var(--edit);
        }
      }
    }
  }
}
