.container {
  display: flex;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid var(--primary);
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  width: 100%;
  gap: 15px;

  .spaceBetween {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .stack {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 5px;
      &:nth-child(2) {
        justify-content: flex-end;
      }

      .title {
        font-size: 18pt;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-thickness: 0.1em;
        }
      }
      .date {
        font-size: 14pt;
        text-align: right;
      }
      .user {
        font-size: 14pt;
        text-align: right;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
          text-decoration-thickness: 0.1em;
        }
      }
      .amountSpent {
        background-color: var(--secondary-light);
        align-content: left;
        text-align: center;
        padding: 3px 7px;
        border-radius: 6px;
        font-size: 12pt;
      }
    }
  }
}
