.container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  --bg-local: rgba(61, 41, 53, 0.7);
  border: 1px solid var(--primary-background-fade-1);
  border-radius: 8px;
  background-color: var(--bg-local);
  min-width: 200px;
  width: 100%;
  height: 100%;
  & > .details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15;
    padding-right: 15;
    // height: 100%;
    & > .name {
      max-width: 20ch;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 15 15 0 0;
      font-size: 15pt;
      color: var(--text);
      height: calc(10%);
      padding-bottom: 15pt;
    }
    & > .description {
      width: 30ch;
      padding: 5 0 0 0;
      margin-top: 10px;
      margin-bottom: 10px;
      // height: 155px;
      color: var(--text-secondary);
      height: calc(80%);
      display: -webkit-box;
      text-wrap: wrap;
      --lines-number: 7;
      line-clamp: var(--lines-number);
      -webkit-line-clamp: var(--lines-number);
      -webkit-box-orient: vertical;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .medias {
      margin-top: 15px;
      padding: 10 20 23 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: calc(10%);
    }
  }
}
