.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .item {
    width: 350px;
    padding: 5px;
    background-color: var(--secondary);
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    color: var(--secondary);
    font-size: 16pt;

    & > span {
      color: var(--primary);
    }
  }
}
