.container {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  align-items: center;
  justify-content: center;
  gap: 20px;

  &.oneRow {
    grid-template-columns: repeat(1, min(500px, calc(100% - 20px)));
  }
}
