.container {
    background-color: var(--primary); /* Tailwind's blue-200 */
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    max-width: 400px;
  }
  
  .name {
    font-size: 15px;
  }
  
  .email {
    color: #4b5563; /* Tailwind's text-gray-600 */
  }
  
  .dragButton {
    cursor: move;
  }
  