.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .switch:hover {
    cursor: pointer;
  }

  .highlight {
    color: var(--primary);
    text-decoration: underline;
  }
}
