.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-dark);
  padding: 25px;
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.cancelIcon {
    cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  i {
    font-size: 22pt;
  }
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.shortInputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 90px;
    border: 1px;
}
