.container {
  position: relative;
  width: 100%;
  min-width: 150px;
  --padding: 15px;
  --bg-local: var(--background-light);

  &.required::before {
    content: "*";
    color: var(--error);
    position: absolute;
    top: -5px;
    left: -12px;
  }

  label {
    color: var(--disabled);
    font-size: 12pt;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: calc(var(--padding) / 2);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    height: 100%;
    border-radius: 3px;
    transition: 300ms ease font-size, 300ms ease height, 300ms ease color,
      300ms ease transform;
    padding: 0 calc(var(--padding) / 2);
  }

  label.shrink,
  input[type="date"] ~ label,
  *:focus ~ label {
    top: 0;
    background-color: var(--bg-local);
    height: auto;
    transform: translate(0, -50%);
    color: var(--primary);
    font-size: 10pt;
  }

  input,
  select,
  textarea {
    background: none;
    background-color: var(--bg-local);
    color: var(--text);
    font-size: 12pt;
    padding: calc(var(--padding) * 0.8) var(--padding);
    display: block;
    width: 100%;
    border: 1px solid var(--bg-local);
    border-radius: 5px;
    box-sizing: border-box;

    &[type="password"] {
      letter-spacing: 0.3em;
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    &:disabled {
      color: var(--disabled);
      border-color: var(--bg-local);

      & ~ label {
        color: var(--disabled);
        border: 1px solid var(--disabled);
      }
    }

    &:focus {
      outline: none;
      border-color: var(--primary);
    }
  }

  &.error {
    input,
    select,
    textarea {
      border-color: var(--error);
    }
  }

  select {
    appearance: none;
    ~ .arrow {
      position: absolute;
      top: 0;
      right: 5px;
      height: 100%;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      transition: all 0.1s linear;

      &.rotate {
        transform: rotate(180deg);
      }
    }
    &:disabled ~ .arrow {
      color: var(--disabled);
    }
  }

  textarea {
    resize: none;
    overflow: hidden;

    ~ label {
      top: var(--padding);
      height: auto;
    }
  }

  &.hero {
    --bg-local: var(--text);

    input,
    select,
    textarea {
      color: var(--primary);
    }

    label.shrink,
    input[type="date"] ~ label,
    *:focus ~ label {
      border: 1px solid var(--primary);
    }
  }

  &.normal {
    min-width: 250px;
    --padding: 20px;

    input,
    select,
    textarea {
      font-size: 18pt;
      padding: 15px var(--padding);
      border-radius: 7px;
    }

    label {
      font-size: 14pt;
    }

    label.shrink,
    input[type="date"] ~ label,
    *:focus ~ label {
      font-size: 12pt;
    }
  }

  &.large {
    min-width: 400px;
    --padding: 25px;

    input,
    select,
    textarea {
      font-size: 24pt;
      padding: 18px var(--padding);
      border-radius: 10px;
    }

    label {
      font-size: 24pt;
    }

    label.shrink,
    input[type="date"] ~ label,
    *:focus ~ label {
      font-size: 18pt;
    }
  }
}
