.container {
  height: 45px;
  font-size: 18pt;
  color: var(--primary);

  &:hover {
    cursor: pointer;
  }

  .invisible {
    display: none;
  }

  &.disabled {
    &:hover {
      cursor: initial;
    }

    color: var(--disabled);
  }
}
