.container {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 270px;
  height: 135px;
  --bg-local: var(--background-light);
  border: 1px solid var(--bg-local);
  border-radius: 5px;

  &.compact {
    min-width: 0;
    max-width: 135px;
    height: auto;
    aspect-ratio: 1;
  }

  &:hover {
    border-color: var(--primary);
  }

  &.error {
    border-color: var(--error);
  }

  & > label {
    color: var(--primary);
    font-size: 10pt;
    position: absolute;
    pointer-events: none;
    left: 7.5px;
    top: 0;
    background-color: var(--bg-local);
    padding: 0 7.5px;
    border-radius: 3px;
    height: auto;
    transform: translate(0, -50%);
  }

  .preview {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--disabled);
    position: relative;

    &:hover {
      cursor: pointer;
    }

    & > p {
      position: absolute;
      top: 7px;
      right: 7px;
      height: 20px;
      font-size: 12pt;
      color: var(--text);
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--primary);
      z-index: 1;
    }

    & > div {
      position: absolute;
      top: 0;
      height: 100%;
      aspect-ratio: 1;
      border: 1px solid var(--primary);
      border-radius: 5px;
      overflow: hidden;

      & > img {
        object-fit: cover;
        border-radius: 5px 0 0 5px;
      }
    }
  }

  &.multiple .preview > div {
    top: 10%;
    height: 80%;
  }

  .invisible {
    display: none;
  }

  & > button {
    background-color: var(--bg-local);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    color: var(--text);
    padding: 10px;
    font-size: 12pt;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    & > div {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;

      & > p {
        --lines-number: 1;
        display: -webkit-box;
        line-clamp: var(--lines-number);
        -webkit-line-clamp: var(--lines-number);
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
