.container {
  width: 100%;
  position: relative;

  .eye {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &.disabled {
      color: var(--disabled);
      pointer-events: none;
    }
  }

  &.hero .eye {
    color: var(--primary);
  }
}
