.container {
  position: relative;
  width: fit-content;

  & > input {
    appearance: none;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Chivo";

    &:focus {
      border: none;
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      transition: all 0.2s;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.small {
    & > input {
      width: 350px;
      font-size: 12pt;
      padding: 12px 15px;
      border-radius: 5px;
      padding-right: 110px;
    }
    .buttons {
      padding-right: 7.5px;
      font-size: 16pt;
      span {
        padding: 7.5px;
      }
    }
  }
  &.normal {
    & > input {
      width: 525px;
      font-size: 18pt;
      padding: 15px 20px;
      border-radius: 7px;
      padding-right: 135px;
    }
    .buttons {
      padding-right: 10px;
      font-size: 18pt;
      span {
        padding: 10px;
      }
    }
  }
  &.large {
    & > input {
      width: 700px;
      font-size: 24pt;
      padding: 18px 25px;
      border-radius: 10px;
      padding-right: 160px;
    }
    .buttons {
      padding-right: 12.5px;
      font-size: 20pt;
      span {
        padding: 12.5px;
      }
    }
  }

  &.hero {
    & > input {
      background-color: var(--text);
      color: var(--primary);
    }
    .buttons {
      color: var(--background);
      span:hover {
        color: var(--primary);
      }
    }
  }
  &.input-like {
    & > input {
      background-color: var(--background-light);
      color: var(--text);
      border: 1px solid var(--background-light);

      &:focus {
        border-color: var(--primary);
      }
    }
    .buttons {
      color: var(--text);
      span:hover {
        color: var(--primary);
      }
    }
  }
}
