.container {
  position: relative;
  width: 100%;
  --bg-local: var(--background-light);
  --primary-local: var(--primary);

  &.disabled {
    --primary-local: var(--disabled);

    .range,
    .slider {
      &:hover {
        border: none;
      }
    }

    label {
      border: 1px solid var(--disabled);
    }
  }

  .range,
  .slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: var(--text);
    --dot-size: 25px;
    --padding: 80px;
    min-width: calc(100px + calc(2 * var(--padding)));
    padding: 0 var(--padding);
    background-color: var(--bg-local);
    border-radius: 5px;
    overflow: hidden;
    font-size: 12pt;
    border: 1px solid var(--bg-local);

    &:hover {
      border-color: var(--primary-local);
    }

    .limit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      width: var(--dot-size);
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--disabled);
      z-index: 3;
      color: var(--bg-local);
      font-size: 7pt;
      font-weight: bold;

      &:nth-child(1) {
        left: var(--padding);
        transform: translate(-50%, -50%);
      }
      &:nth-child(5),
      &:nth-child(4) {
        right: var(--padding);
        transform: translate(50%, -50%);
      }
    }

    .axis {
      position: relative;
      width: 100%;
      height: 5px;
      background-color: var(--primary-local);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 10px;
        width: 100%;
        background-color: var(--bg-local);
        transform: translate(0, -50%);
        z-index: 2;
      }
      &::before {
        left: -100%;
      }
      &::after {
        left: 100%;
      }

      .dot {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          height: 6px;
          width: 100%;
          background-color: var(--disabled);
          transform: translate(0, -50%);
          z-index: 1;
        }
        &:nth-child(1)::before {
          left: -100%;
        }
        &:nth-child(2)::before {
          left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          width: var(--dot-size);
          aspect-ratio: 1;
          border-radius: 50%;
          background-color: var(--primary-local);
          z-index: 4;
        }

        & > i {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: var(--dot-size);
          height: var(--dot-size);
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(-50%, -50%);
          z-index: 5;
          font-size: 16pt;
        }
      }
    }

    .value {
      position: absolute;
      display: flex;
      align-self: center;
      justify-content: center;
      z-index: 5;
      font-weight: bold;
      width: calc(var(--padding) - calc(var(--dot-size) / 2));

      &:nth-child(2) {
        left: 0px;
      }
      &:nth-child(4) {
        right: 0px;
      }
    }
  }

  .slider {
    padding-left: calc(10px + calc(var(--dot-size) / 2));

    .limit:nth-child(1) {
      background-color: var(--primary-local);
      left: calc(10px + calc(var(--dot-size) / 2));
      transform: translate(-50%, -50%);
    }
    .axis .dot {
      & > i {
        font-size: calc(var(--dot-size) * 0.66);
      }
      &:nth-child(1)::before {
        left: 0;
      }
    }
    .value:nth-child(3) {
      right: 0px;
    }
  }

  .invisible {
    display: none;
  }

  label {
    color: var(--primary-local);
    font-size: 10pt;
    position: absolute;
    pointer-events: none;
    left: 7.5px;
    top: 0;
    background-color: var(--bg-local);
    padding: 0 7.5px;
    border-radius: 3px;
    height: auto;
    transform: translate(0, -50%);
  }
}
