.container {
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 18pt;
  gap: 5px;
  color: var(--secondary);
  width: fit-content;
  height: fit-content;

  .star {
    display: flex;

    &:hover {
      cursor: pointer;
    }
  }

  .partial {
    position: relative;
    height: 1em;
    width: 1em;

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }
  }

  .invisible {
    display: none;
  }

  &.disabled {
    .star {
      &:hover {
        cursor: initial;
      }
    }
  }
}
