.switch_toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch {
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background-color: var(--background-light);
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;

  &.checked {
    background-color: var(--primary);

    & > .switch_thumb {
      transform: translateX(25px);
    }
  }

  & > .switch_thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text);
    transition: transform 0.2s ease;
    transform: translateX(0);
  }
}
