.container {
  width: 100%;
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  padding: 0 20px;

  & > h2 {
    font-weight: normal;
    text-align: center;
  }

  & > h1 {
    color: var(--primary);
  }

  & > div {
    color: var(--disabled);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: "600px") {
  .container {
    font-size: 10pt;
    margin-top: 75px;
    min-height: auto;
    padding: 80px 20px;
    background: var(--background-light);
    margin-bottom: 100px;
  }
}
