/* TODO maybe implement animations? */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & > .switch {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20pt;
    margin-right: 20%;
    & > .prompt {
      margin-top: 5pt;
      margin-right: 10%;
      font-family: "Gluten", sans-serif;
      align-self: flex-start;
      //text-align: start;
    }
  }
  & > .switchMobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20pt;
    margin-right: 10%;
    & > .prompt {
      margin-top: 5pt;
      margin-right: 10%;
      font-family: "Gluten", sans-serif;
      align-self: flex-start;
      //text-align: start;
    }
  }
  & > .container {
    opacity: 1;
    width: 100%;
    min-height: 100vh;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 100px;
    & > .buttons {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      font-size: 40pt;
      & > .yes {
        padding: 20px;
        color: var(--secondary-light);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: scale(1.1); /* Hover effect to lift the card */
        }
      }
      & > .no {
        padding: 20px;
        color: var(--primary);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: scale(1.1); /* Hover effect to lift the card */
        }
      }
    }
    & > .notFound {
      margin-top: 100pt;
      font-size: 50pt;
      font-family: "Gluten", sans-serif;
      padding: 50pt;
      text-align: center;
      text-wrap: balance;
    }
    & > .notFoundMobile {
      text-align: center;
      margin-top: 100pt;
      font-size: 30pt;
      padding: 30pt;
      font-family: "Gluten", sans-serif;
      text-wrap: balance;
    }
  }
  & > .back {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: right;
    top: 25%;
    width: 100%;
    z-index: -1;
    & > .card {
      justify-content: flex-end;
      opacity: 0.4;
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  & > .oneCard {
    display: flex;
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: -1;
    opacity: 0.4;
    padding-right: 100px;
    padding-left: 100px;
  }


}

.main2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & > .login {
    margin-top: 100pt;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  & > .turnMeeting {
    margin-top: 100pt;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    & > .box {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
      --bg-local: rgba(61, 41, 53, 0.7);
      background-color: var(--bg-local);
      border: 2px solid var(--primary-dark);
      border-radius: 8px;
      & > .message {
        padding: 20pt;
        font-size: 20pt;
        text-wrap: preety;
      }
      & > .button {
        padding: 50pt;
      }
    }
  }
}
