.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  padding: 40px;
  background-color: var(--background-light);
  border-radius: 10px;
  gap: 25px;
  width: 100%;
  max-width: 600px;

  & > h2 {
    font-size: 24pt;
    text-align: center;

    span {
      color: var(--primary);
    }
  }

  & > h3 {
    font-size: 16pt;
    text-align: center;
  }

  .form {
    width: 100%;
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .left {
      font-size: 14pt;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-radius: 0;
    gap: 0;

    & > h3 {
      background-color: var(--background-light);
      padding: 15px;
      border-radius: 8px 8px 0 0;
      color: var(--primary);
    }

    .form {
      max-width: 500px;
    }
  }
}

@media (max-width: "600px") {
  .container {
    width: 100vw;
    border-radius: 0;

    .form {
      border-radius: 0;
      width: 100vw;
      padding: 20px 40px;
    }
  }
}
