.container {
  width: 100%;
  --padding-left-value: max(20px, calc(calc(100% - 600px) / 2));
  max-width: calc(600px + var(--padding-left-value));
  padding: 20px;
  padding-left: var(--padding-left-value);
  border-radius: 0 8px 8px 0;
  border: 5px solid var(--background-light);
  border-left: none;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .title {
    font-size: 28px;
  }

  .sectionTitle {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      height: 0;
      border-bottom: 1px solid var(--disabled);
      z-index: -1;
    }

    & > h2 {
      font-weight: normal;
      color: var(--text-dark);
      font-size: 14pt;
      background-color: var(--background);
      padding: 0 10px;
    }
  }

  .row {
    display: flex;
    gap: 15px;
  }

  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .right {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: "900px") {
  .container {
    border-radius: 0;
    border-right: 0;
    max-width: 100%;
  }
}

@media (max-width: "500px") {
  .container {
    .row {
      flex-wrap: wrap;
    }
  }
}
