.content {
  width: 100%;
  height: calc(100vh - 110px);
}

.layout {
  display: flex;
  height: 100%;

  @media (max-width: 992px) {
    flex-direction: column;
    row-gap: 20px;
  }
}

.mapContainer {
  flex: 3;
  padding: 20px;
  width: 100%;
  max-width: 65vw;

  @media (max-width: 992px) {
    max-width: 100vw;
    height: 70vh;
    margin-top: 10px;
    padding: 10px;
  }

  & > .roundEdges {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
  }
}

.searchContainer {
  flex: 1;
  height: 100%;
  padding-top: 30px;
  overflow-y: auto;

  @media (max-width: 992px) {
    height: 30vh;
    padding-top: 15px;
    padding-bottom: 20px;
    overflow-y: unset;
  }
}
